<?php

return array(
    'auth_url' => 'https://accounts.google.com/o/oauth2',
    'base_url' => 'https://www.googleapis.com/analytics/v3',
    'scope' => 'https://www.googleapis.com/auth/analytics.readonly',
    'view_id' => '',
    'client_id' => '',
    'client_secret' => '',
    'token_file' => __DIR__ . '/../../ga.json',
);
